// Variables for colors
$whiteColor: #FFFFFF;
$blackColor: #000000;
$mainTextColor:#D41443;
$textColor:#FFA5BA;
$heroBcgColor:#FFB8CA;
$cofeeBcgColor:#F0D1A5;
$milkshakeBcgColor:#C2E297;
$aboutBcgColor:#FFF5F6;
