// Variables for colors
$whiteColor: #FFFFFF;
$blackColor: #000000;
$mainTextColor:#D41443;
$textColor:#FFA5BA;
$heroBcgColor:#FFB8CA;
$cofeeBcgColor:#F0D1A5;
$milkshakeBcgColor:#C2E297;
$aboutBcgColor:#FFF5F6;
$burgerBcgColor:#E17992;
 
// Media queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

// Variables for fonts  and  mixin
$primaryFont:"DM Sans", serif;
$secondaryFont: "Titan One", serif;


