<section class="about">
    <div class="container">
        <h3 class="section-title">tradition and love</h3>
        <h2 class="section-subtitle">how it’s made?</h2>
    <div class="description">
        <img src="/src/images/home-pic4.png" alt="#" class="description-img">
        <p class="description-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
        <p class="description-text description-text-light">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
        <p class="description-text description-text-light">Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="description-btn">Read more <svg width="15" height="10"><use href="./images/symbol-defs.svg#arrow-right-small"></use></svg></button>
    </div>
        <ul class="about-list">
            <li class="about-item">
                <img src="/src/images/icon1.png" alt="Plant" class="about-img about-img-plant">
                <h2 class="about-number">721</h2>
                <p class="about-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="about-item">
                <img src="/src/images/icon2.png" alt="Fruits" class="about-img about-img-fruits">
                <h2 class="about-number">16KG</h2>
                <p class="about-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="about-item">
                <img src="/src/images/icon3.png" alt="Lollipop" class="about-img about-img-lollipop">
                <h2 class="about-number">84</h2>
                <p class="about-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>