<section class="contacts">
    <div class="container">
        <ul>
            <li>
                <h3>CAFE</h3>
                <p>Chicago</p>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div></div>
                <ul>
                    <li>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <div></div>
                <p>+61(0) 383 766 284 noreply@envato.com</p>
            </li>
            <li>
                <h3>FOODTRUCK</h3>
                <p>Los Angeles</p>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div></div>
                <ul>
                    <li>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <div></div>
                <p>+61(0) 383 766 284 noreply@envato.com</p>
            </li>
            <li>
                <h3>CAFE</h3>
                <p>New York</p>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div></div>
                <ul>
                    <li>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <div></div>
                <p>+61(0) 383 766 284 noreply@envato.com</p>
            </li>
        </ul>
    </div>
</section>