<section class="contacts">
    <div class="container">
        <!-- <h2 class="visually-hidden"></h2> -->
        <ul class="contacts-list">
            <li class="contacts-item">
                <h3 class="contacts-title">CAFE</h3>
                <p class="contacts-location">Chicago</p>
                <p class="contacts-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="contacts-schedule">
                    <li class="schedule-item">
                        <p class="contacts-day">Monday - Friday</p>
                        <p class="contacts-time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-schedule">
                        <p class="contacts-day">Saturday - Sunday</p>
                        <p class="contacts-time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <p class="contacts-info">+61(0) 383 766 284 noreply@envato.com</p>
            </li>
            <li class="contacts-item">
                <h3 class="contacts-title">FOODTRUCK</h3>
                <p  class="contacts-location">Los Angeles</p>
                <p class="contacts-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="contacts-schedule">
                    <li class="schedule-item">
                        <p class="contacts-day">Monday - Friday</p>
                        <p class="contacts-time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="schedule-item">
                        <p class="contacts-day">Saturday - Sunday</p>
                        <p class="contacts-time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <p class="contacts-info">+61(0) 383 766 284 noreply@envato.com</p>
            </li>
            <li class="contacts-item">
                <h3 class="contacts-title">CAFE</h3>
                <p  class="contacts-location">New York</p>
                <p class="contacts-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="contacts-schedule">
                    <li class="schedule-item">
                        <p class="contacts-day">Monday - Friday</p>
                        <p class="contacts-time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="schedule-item">
                        <p class="contacts-day">Saturday - Sunday</p>
                        <p class="contacts-time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <p class="contacts-info">+61(0) 383 766 284 noreply@envato.com</p>
            </li>
        </ul>
    </div>
</section>