<header class="header" id="header">
    <div class="container ">
        <div class="header-box">
            <a href="#" class="logo-link">
                <img src="./images/logo-icecream.png" alt="Ice-Cream logo">
            </a>
            <nav class="header-nav">
                <ul class="header-list">
                    <li class="header-item">
                        <a href="#header" class="header-page  currently">Home</a>
                    </li>
                    <li class="header-item">
                        <a href="#" class="header-page">About us</a>
                    </li>
                    <li class="header-item">
                        <a href="#" class="header-page">How it’s made?</a>
                    </li>
                    <li class="header-item">
                        <a href="#" class="header-page">Our products</a>
                    </li>
                    <li class="header-item">
                        <a href="#" class="header-page">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="header-buttons">
                <button  type="button" class="header-btn-open js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                    <svg class="header-menu" width="32" height="30">
                        <use xlink:href="./images/symbol-defs.svg#three-lines"></use>
                    </svg>
                </button>
                <button type="button" class="btn-buy-now">
                    Buy now
                    <svg class="header-btn-arrow-svg" width="20" height="15">
                        <use xlink:href="./images/symbol-defs.svg#arrow-right-small"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>