<header class="header">
    <div class="container">
        <a href="#" class="logo-link">
            <img src="../images/logo-icecream.png" alt="Ice-Cream logo">
        </a>
        <nav class="header-nav">
            <ul class="header-list">
                <li class="header-item">
                    <a href="#" class="header-page">Home</a>
                </li>
                <li class="header-item">
                    <a href="#" class="header-page">About us</a>
                </li>
                <li class="header-item">
                    <a href="#" class="header-page">How it’s made?</a>
                </li>
                <li class="header-item">
                    <a href="#" class="header-page">Our products</a>
                </li>
                <li class="header-item">
                    <a href="#" class="header-page">Contact</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="btn-buy-now">
            Buy now
            <svg class="header-btn-arrow-svg">
                <use href="../images/symbol-defs.svg#arrow-right-small"></use>
            </svg>
        </button>
    </div>
</header>