<div class="mob-menu " >
    <div class="header-menu" js-menu-container>
        <button type="button" class="header-btn-close js-close-menu" >
            <div class="header-menu js-menu-container" ><svg width="14">
                <use href="./images/symbol-defs.svg#close"></use>
            </svg></button>
        <button type="button" class="header-mob-buy ">Buy now
            <svg class="header-btn-mob-arrow">
                <use href="./images/symbol-defs.svg#arrow-right-small"></use>
            </svg>
        </button>
        <nav class="header-mob-nav">
            <ul class="header-mob-list">
                <li class="header-mob-item"><a href="#" class="header-mob-link">Home</a></li>
                <li class="header-mob-item"><a href="#" class="header-mob-link">About us</a></li>
                <li class="header-mob-item"><a href="#" class="header-mob-link">How it's made?</a></li>
                <li class="header-mob-item"><a href="#" class="header-mob-link">Our products</a></li>
                <li class="header-mob-item"><a href="#" class="header-mob-link">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>