<section class="hero">
    <div class="container">
        <h1 class="hero-title">ice cream made with passion</h1>
        <ul class="hero-list">
            <li class="hero-item">
                <button class="hero-btn-red">Products</button>
            </li>
            <li class="hero-item">
                <button class="hero-btn-white">How it’s made?</button>
            </li>
        </ul>
        <ul>
            <li>
                <h2>16</h2>
                <p>cafes</p>
            </li>
            <li>
                <h2>23</h2>
                <p>food trucks</p>
            </li>
        </ul>
        <img src="#" alt="#">
        <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <img src="#" alt="#">
        <img src="#" alt="#">
    </div>
</section>