<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="hero-title">ice cream made with <span class="hero-text-span">passion</span></h1>
            <div class="hero-btns-box">
                <a href="#"> <button class="hero-btn-red">Products</button></a>
                <a href="#"> <button class="hero-btn-white">How it’s made?</button></a>
            </div>
            <div class="hero-box-milk">
                <img src="./images/milk-tab.png" alt="#" class="hero-milk-img ">
                <div class="flex-button-wrap">
                    <p class="hero-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <button type="button" class="hero-milk-btn">
                        <svg>
                            <use href="./images/symbol-defs.svg#arrow-right-big"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="hero-thumb">
            <ul class="hero-list">
                <li class="hero-item">
                    <h2 class="hero-number">16</h2>
                    <p class="hero-text">cafes</p>
                </li>
                <li class="hero-item">
                    <h2 class="hero-number">23</h2>
                    <p class="hero-text">food trucks</p>
                </li>
            </ul>
        </div>
    </div>
</section>