<section class="hero">
    <div class="container">
        <h1 class="hero-title">ice cream made with passion</h1>
        <button class="hero-btn-red">Products</button>
        <button class="hero-btn-white">How it’s made?</button>
        <ul class="hero-list">
            <li class="hero-item">
                <h2 class="hero-number">16</h2>
                <p class="hero-text">cafes</p>
            </li>
            <li class="hero-item">
                <h2 class="hero-number">23</h2>
                <p class="hero-text">food trucks</p>
            </li>
        </ul>
        <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
</section>