<div id="myModal" class="modal">

    
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3 class="products-modal-title">Place An Order:</h3>
          <h4 class="products-modal-subtitle">Ice-Cream</h4>
          <p class="products-modal-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas distinctio esse suscipit. Quia nulla consequuntur sed. Impedit dolor sunt dignissimos atque temporibus omnis provident quibusdam, alias aperiam quis laborum ipsam!</p>
          <p class="products-modal-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas distinctio esse suscipit. Quia nulla consequuntur sed.</p>
          <span class="products-modal-span">Price: 3&euro;</span>
          <div class="products-counter-container">
          <div class="counter">
              <button class="minus products-modal-counter-btn">-</button>
              <span class="count products-modal-counter-span">1</span>
              <button class="plus products-modal-counter-btn">+</button>
          </div>
        <button class="products-modal-btn" type="submit">Buy It</button>
          </div>
      </div>
  
  </div>