<section class="products" id="products">
    <div class="container products-container">
        <h2 class="products-title">100% natural</h2>
        <h3 class="products-subtitle">products</h3>
        <ul class="products-list">
            <li class="products-list-item">
                <div class="products-info">
                <img src="images/products-ice-cream.png" alt="ice-cream" class="products-image">
                <h3 class="products-name">ice cream</h3>
                <svg class="products-svg-dots"><use href="images/symbol-defs.svg#three-dots"></use></svg>
                <p class="products-info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <button class="products-btn" type="button" id="myBtn">
                    <svg class="products-svg-arrow"><use href="images/symbol-defs.svg#arrow-right-big"></use></svg>
                </button>
            </div>
            </li>
                <li class="products-list-item">
                    <div class="products-info">
                    <img src="images/products-ice-caffee.png" alt="ice-caffee" class="products-image">
                        <h3 class="products-name">ice coffee</h3>
                        <svg class="products-svg-dots"><use href="images/symbol-defs.svg#three-dots"></use></svg>
                        <p class="products-info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                        <button class="products-btn" type="button" id="myBtn">
                            <svg class="products-svg-arrow"><use href="images/symbol-defs.svg#arrow-right-big"></use></svg>
                        </button>
                    </div>
                </li>
            <li class="products-list-item">
                <div class="products-info">
                <img src="images/products-milshakes.png" alt="milkshakes" class="products-image">
                    <h3 class="products-name">milkshakes</h3>
                    <svg class="products-svg-dots"><use href="images/symbol-defs.svg#three-dots"></use></svg>
                    <p class="products-info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <button class="products-btn" type="button" id="myBtn">
                        <svg class="products-svg-arrow"><use href="images/symbol-defs.svg#arrow-right-big"></use></svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>