<section>
    <div class="container slideshow-container">

        <div class="mySlides fade">
          <img src="./reviewer-1.png" alt="reviewer" class="reviews-photo" style="width: 85px; height: 85px;">
          <p class="reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>

          <h4 class="reviews-name">Emily, Los Angeles</h4>
        </div>
        
        <div class="mySlides fade">
          <img src="./reviewer-2.png" alt="reviewer" class="reviews-photo" style="width: 85px; height: 85px;">
          <p class="reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>

          <h4 class="reviews-name">Olivia, Florida</h4>
        </div>
        
        <div class="mySlides fade">
          <img src="./reviewer-3.png" alt="reviewer" class="reviews-photo" style="width: 85px; height: 85px;">
          <p class="reviews-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>

          <h4 class="reviews-name">Amelia, California</h4>
        </div>
        
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        
        <br>
        
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
    </div>
  </section>
  <script src="./src/index.js"></script>