@use '../utils/variables' as *;

.contacts {
    padding-top: 86px;
    padding-bottom: 113px;
    background-color: $aboutBcgColor;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    }

    @media screen and (min-width: $desktop) {
    gap: 29px;
    }
}

.contacts-item {
    background-color: $whiteColor;
    border-radius: 24px;
    width: 220px;
    padding: 43px 19px;
    box-shadow: 0 4px 8px 0 rgba(212, 20, 67, 0.1), 0 6px 20px 0 rgba(212, 20, 67, 0.1);
    
    @media screen and (min-width:$tablet) {
        padding: 50px 31px;
    }

    @media screen and (min-width:$desktop) {
        width: 330px;
        padding: 52px 44px;
    }
}

.contacts-title {
    font-family: "DM Sans", serif;
    font-weight: 500;
    width: 80px;
    height: 16px;
    font-size: 12px;
    margin-bottom: 25px;
    color: $whiteColor;
    background-color: $cofeeBcgColor;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width:$tablet) {
        width: 73px;
        height: 28px;
        font-size: 16px;
        border-radius: 6px;
    }

    &-green {
        width: 130px;
        background-color: $milkshakeBcgColor;

        @media screen and (min-width:$tablet) {
            width: 138px;
        }
    }
}

.contacts-location {
    font-family: "DM Sans", serif;
    font-weight: 500;
    font-size: 12px;

    @media screen and (min-width:$tablet) {
        font-size: 14px;
    }

    @media screen and (min-width:$desktop) {
        font-size: 16px;
    }
}

.contacts-description {
    font-family: "DM Sans", serif;
    font-weight: 500;
    width: 179px;
    font-size: 12px;
    margin-top: 5px;
    color: $lightGrayColor;

    @media screen and (min-width:$tablet) {
        width: 145px;
        font-size: 14px;
    }

    @media screen and (min-width:$desktop) {
        width: 243px;
        font-size: 16px;
    }
}

.contacts-schedule {

    &::after,
    &::before {
        content: "";
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 25px 0;
        border-bottom: 1px solid $lineColor;
    }
}

.schedule-item {
    &:nth-child(1){
        margin-bottom: 10px;
    }    
}

.contacts-day {
    font-family: "DM Sans", serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;

    @media screen and (min-width:$tablet) {
        font-size: 14px;
    }

    @media screen and (min-width:$desktop) {
        font-size: 16px;
    }
}

.contacts-time {
    font-family: "DM Sans", serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    color: $textColor;

    @media screen and (min-width:$tablet) {
        font-size: 14px;
    }

    @media screen and (min-width:$desktop) {
        font-size: 16px;
    }
}

.contacts-info {
    font-family: "DM Sans", serif;
    font-weight: 500;
    width: 179px;
    font-size: 12px;
    line-height: 1.5;
    color: $lightGrayColor;

    @media screen and (min-width:$tablet) {
        width: 157px;
        font-size: 14px;
    }

    @media screen and (min-width:$desktop) {
        width: 243px;
        font-size: 16px;
    }
}