@use '../utils/variables' as *;

.hero{
    // position: relative;
    height: 502px;
    padding: 193px 0 160px 0;
    background-image: url('../images/elipse-mob.png');
    background-repeat: no-repeat;
    // background-size: 205px;
    background-position-x: right;
    background-position-y: center; 
    background-color: $heroBcgColor;

    &::after{
        content:" ";
        display: block;
        width: 171px;
        height: 410px;
        background-image: url('../images/icecream-mob.png');
        position: absolute;
        top: 92;
        right: 30;
    }

    @media screen and (min-width:$tablet){
        height: 399px;
        padding-top: 94px;
        background-size: 324px 322px;
        background-position: 66% 31px;
        background-image: url('../images/ellipse-tab.png');

        &::after{
            content:" ";
            display: block;
            width: 143px;
            height: 336px;
            right: 320px;
            top: 63px;
            background-image: url('../images/icecream-tab.png');
    }
    
    
}

}

.hero-content {
    position: absolute;
    z-index: 1;
}

.hero-title{
    margin-bottom: 15px;
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $whiteColor;
    width: 218px;
 
    // @media screen and (min-width:$tablet){
    //     width: 163px;
    // }
    @media screen and (min-width:$desktop){
        width: 277px;
    }
}

.hero-text-span{
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $mainTextColor;
}

.hero-btns-box{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.hero-btn-red {
    padding: 9px 14px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 0;
    font-weight: 400;
    font-size: 8px;
    transition: background-color 250ms ease-in;
    background-color: $mainTextColor;
    color: $whiteColor;
        &:hover,
        &:focus {
            background-color: $whiteColor;
            color: $mainTextColor;
        }
  
}

.hero-btn-white {
    padding: 9px 14px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 0;
    font-weight: 400;
    font-size: 8px;
    transition: background-color 250ms ease-in;
    background-color: $whiteColor;
    color: $mainTextColor;
    &:hover,
    &:focus {
        background-color: $mainTextColor;
        color: $whiteColor;
    }
}

.hero-thumb{
    @media screen and (max-width:767px){
        display: none;
    }
}
.hero-box-milk{
    @media screen and (max-width:767px){
        display: none;
    }
    display: flex;
    // align-items: flex-end;
    
}

.flex-button-wrap{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: end;
    justify-content: end;
}

.hero-info {
    width: 114px;
    font-size: 8px;
    line-height: 1.5;
    color: $whiteColor;

    @media screen and (min-width: $desktop) {
        width: 200px;
        font-size: 14px;
        line-height: 1.4;
    }
}
.hero-milk-btn {
    display: flex;
    align-items: center;
    margin-top: 7px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $whiteColor;
    fill: $mainTextColor;
    border: 0;

    @media screen and (min-width: $desktop) {
        width: 26px;
        height: 26px;
        margin-bottom: 11px;
    }
}
.hero-milk-img {
    width: 124px;
    height: 126px;

    @media screen and (min-width: $desktop) {
        width: 188px;
        height: 191px;
    }
}

.hero-list {
    position: absolute;
    top: 96px;
    right: 0;
    @media screen and (min-width: $desktop) {
        top: 156px;
    }
}

.hero-item {
    background-image: url('../images/small-elipse-tab.png');
    background-position: 30% 0;
    background-repeat: no-repeat;
    @media screen and (min-width: $desktop) {
        background-image: url('../images/small-elipse-desk.png');
    }
}

.hero-number {
    font-family: $secondaryFont;
    font-size: 28px;
    color: $mainTextColor;

    @media screen and (min-width: $desktop) {
        font-size: 46px;
    }
}

.hero-text {
    font-size: 8px;
    line-height: 1.5;
    color: $whiteColor;

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.4;
    }
}
 
