@use '../utils/variables' as *;

.products{
    padding-top: 121px;
    padding-bottom: 98px
}

.products-list{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 150px;
    margin-top: 144px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 20px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 210px;
    }
}

.products-list-item {
    position: relative;
    display: flex;
    border-radius: 24px;
    width: 280px;       
    padding: 161px 0 40px;
    justify-content: center;
    transition: transform 400ms ease-in-out, box-shadow 400ms ease-in-out;
    perspective: 1000px;
    

    &:first-child {
        background-color: #ffb8ca;
    }

    &:nth-child(2) {
        background-color: #f0d1a5;
    }

    &:last-child {
        background-color: #c2e297;
    }

    @media screen and (min-width: 768px) {
        width: 220px;
    }
    @media screen and (min-width: 1200px) {
        width: 33%;
    }

    &:hover{
        box-shadow: 0px 40px 49px -6px rgba(0,0,0,0.33);
        transform: translateY(40px) scale(1.05);
    }
}

.products-title {
    color: #FFA5BA;
    text-align: center;
    font-family: "Titan One";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
        font-size: 26px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 30px;
    }
}

.products-subtitle {
    color: #D41443;
    text-align: center;
    font-family: "Titan One";
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 1.36px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
        font-size: 48px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 58px;
    }
}

.products-image{
    position: absolute; 
    top: -135px;
    left: 4px;

    @media screen and (min-width: 768px) {
        top: -105px;
    }
    @media screen and (min-width: 1200px) {
        top: -210px;
    }
}

.products-name {
    text-align: center;
    color: #fff;
    font-family: "Titan One";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.products-svg-dots {
    fill: rgb(255, 255, 255);
    width: 58px;
    height: 38px;
    display: block;
    margin: 20px auto;
}

.products-info-text {
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFF;
        padding: 0 40px;

        @media screen and (min-width: 768px) {
            padding: 0 6px;
    }

        @media screen and (min-width: 1200px) {
            margin-bottom: 60px;
            font-size: 16px;
            line-height: 1.7;
            padding: 0 12px;
    }
}

.products-svg-arrow{
    background-color: #fff;
    fill: #ff003c;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    padding: 16px;
    transition: background-color 300ms ease-in-out, fill 300ms ease-in-out;

    &:hover{
        background-color: #ff003c;
        fill: white;
        animation: bounce 0.4s ease-in-out;
    }
}

.products-btn{
    display: block; 
    background: transparent; 
    margin: 30px auto 0;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}